


<h2> Công suất người và máy </h2>
<table>
    <tr>
        <td>
            Từ ngày:
        </td>
        <td style="padding-left: 10px;">
            @(Html.DevExtreme().DateBox()
                        .Type(DateBoxType.Date)
                        .Value(DateTime.Now)
                        .ID("fromDate")
            )
        </td>
        <td style="padding-left: 10px;">
            @(Html.DevExtreme().Button()
                        .Text("Xem")
                        .ID("btnView")
                        .Type(ButtonType.Normal)
                        .Width(90)
                        .OnClick("ViewData")
            )
        </td>
    </tr>
    <tr>
        <td>
            Đến ngày:
        </td>
        <td style="padding-left: 10px;">
            @(Html.DevExtreme().DateBox()
                        .Type(DateBoxType.Date)
                        .Value(DateTime.Now)
                        .ID("toDate")
            )
        </td>
        <td>
        </td>
    </tr>
</table>

@(Html.DevExtreme().DataGrid<NNworking.Models.sp_242_WTS_DirectWorkPercen_Result>()
    .DataSource(ds => ds.WebApi()
        .RouteName("C242_PartApi")
        .LoadAction("sp_242_WTS_DirectWorkPercen").LoadParams(new { fromdate = new JS("getFromDate"), todate = new JS("getToDate") })
    )
    .ID("dxWTSGetCapacity")
    .Paging(page => page.PageSize(10))
    .Pager(pager => pager.ShowPageSizeSelector(true)
        .ShowInfo(true)
        .AllowedPageSizes(new List<int> { 10, 20, 30, 50, 100, 200 })
    )
    .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
        .DescendingText("Date")
    )
    .OnExporting("onExportingDatagridToExcel").Export(e => e.Enabled(true)
        //.FileName("BaoCaoCongSuat")
        .AllowExportSelectedData(true))
    .ColumnAutoWidth(true)
    .FilterRow(fil => fil.Visible(true))
    .FilterPanel(fi => fi.Visible(true))
    .SearchPanel(search => search.Visible(true)
        .HighlightSearchText(true)
        .Width(500)
    )
    .Columns(columns =>
    {
        columns.AddFor(m => m.Date).Caption("Ngày");

        columns.AddFor(m => m.StaffID).Caption("Nhân viên");

        columns.AddFor(m => m.StaffName).Caption("Tên nhân viên");

        columns.AddFor(m => m.TotalTime).Caption("Tổng thời gian");

        columns.AddFor(m => m.DirectTime).Caption("Thời gian TT");

        columns.AddFor(m => m.MassTime).Caption("Thời gian PL");

        columns.AddFor(m => m.InspecTime).Caption("Thời gian PB");

        columns.AddFor(m => m.StopTime).Caption("Thời gian Dừng máy");

        columns.AddFor(m => m.TiLe).Caption("Tỉ lệ TT/Tổng(%)");

        columns.AddFor(m => m.TiLeMassTime).Caption("Tỉ lệ PL/Tổng(%)");

        columns.AddFor(m => m.TiLeInspecTime).Caption("Tỉ lệ PB/Tổng(%)");

        columns.AddFor(m => m.TiLeStopTime).Caption("Tỉ lệ Dừng/Tổng(%)");
    })
    .ShowColumnHeaders(true)
    .ShowRowLines(true)
    .RemoteOperations(true)
    .MasterDetail(md =>
    {
        md.Enabled(true);
        md.Template(@<text>
        <div class="master-detail-caption"> Chi tiết WTS</div>
        @(Html.DevExtreme().DataGrid<NNworking.Models.View_242_WTS>()
            .DataSource(ds => ds.WebApi()
                .RouteName("C242_WTSApi")
                .LoadAction("DetailWTS")
                .LoadParams(new { staffName = new JS("data.StaffName"), staffID = new JS("data.StaffID"), date = new JS("data.Date") })
            )
            .ID("dxDetailWTS")
            .Paging(page => page.PageSize(10))
            .Pager(pager => pager.ShowPageSizeSelector(true)
                .ShowInfo(true)
                .AllowedPageSizes(new List<int> { 10, 20, 30 })
            )
            .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
                .DescendingText("StaffID")
            )
            .ColumnAutoWidth(true)
            .FilterRow(fil => fil.Visible(true))
            .FilterPanel(fi => fi.Visible(true))
            .SearchPanel(search => search.Visible(true)
                .HighlightSearchText(true)
                .Width(500)
            )
            .ShowColumnHeaders(true)
            .ShowRowLines(true)
            .RemoteOperations(true)
            .Columns(columns =>
            {
                columns.AddFor(m => m.StaffID).Caption("nhân viên");

                columns.AddFor(m => m.Date).Caption("Ngày");

                columns.AddFor(m => m.Shift).Caption("Ca");

                columns.AddFor(m => m.MachineID).Caption("Máy");

                columns.AddFor(m => m.MONo).Caption("Đơn hàng");

                columns.AddFor(m => m.OptionID).Caption("Nguyên công");

                columns.AddFor(m => m.PartID).Caption("Tên chi tiết");

                columns.AddFor(m => m.WorkID).Caption("Mã CV");

                columns.AddFor(m => m.Time).Caption("Thời gian");

                columns.AddFor(m => m.OKQty).Caption("Slg OK");

                columns.AddFor(m => m.NGQty).Caption("Slg NG");
            })
        )
        </text>);
    })
)

<script>
    function getToDate() {
        var a = $("#toDate").dxDateBox("instance").option("value");
        return a;
    }

    function getFromDate() {
        var a = $("#fromDate").dxDateBox("instance").option("value");
        return a;
    }

    function ViewData() {
        $("#dxWTSGetCapacity").dxDataGrid("instance").refresh();
    }

</script>