
@{
    ViewBag.Title = "Đăng kí ca làm việc";
}

    <!-- Main content -->
    <section class="content">
        <div class="box box-body">
            <table>
                <tr>
                    <td>
                        Từ ngày:
                    </td>
                    <td style="padding-left: 10px;">
                        @(Html.DevExtreme().DateBox()
                        .Value(DateTime.Now)
                        .ID("dateFromDate")
                        )
                    </td>
                    <td style="padding-left: 10px;">
                        @(Html.DevExtreme().Button()
                        .Text("Xem")
                        .ID("btnView")
                        .Type(ButtonType.Normal)
                        .Width(90)
                        .OnClick("ViewData")
                        )

                        @(Html.DevExtreme().Button()
                        .Text("Import")
                        .ID("btnImport")
                        .Type(ButtonType.Normal)
                        .Width(150)
                        )
                    </td>
                </tr>
                <tr>
                    <td>
                        Đến ngày:
                    </td>
                    <td style="padding-left: 10px;">
                        @(Html.DevExtreme().DateBox()
                        .Value(DateTime.Now)
                        .ID("dateToDate")
                        )
                    </td>
                    <td style="padding-left: 10px;">
                        @(Html.DevExtreme().Button()
                        .Text("Thực hiện")
                        .ID("btnExecute")
                        .Type(ButtonType.Normal)
                        .Width(150)
                        )
                    </td>
                </tr>
            </table>
        </div>

        <input id="File1" type="file" name="file" class="hide" onchange="ChoiceFile()" />
        <div>
@(Html.DevExtreme().DataGrid<NNworking.Models.C222_StaffShift>()
    .DataSource(ds => ds.WebApi()
	    .RouteName("C222_StaffShiftApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.ID);

        columns.AddFor(m => m.StaffID);

        columns.AddFor(m => m.Date);

        columns.AddFor(m => m.Shift);

        columns.AddFor(m => m.Lunch);

        columns.AddFor(m => m.Dinner);

        columns.AddFor(m => m.Milk);

        columns.AddFor(m => m.ShiftTimeStart);

        columns.AddFor(m => m.ShiftTimeFinish);

        columns.AddFor(m => m.StartWork);

        columns.AddFor(m => m.FinishWork);
    })
    .Editing(e => e
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    )
)
        </div>
    </section>
    <!-- /.content -->
<!-- /.content-wrapper -->
@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}

<script>
    $(document).on('click', '#btnImport', function () {
        $('#File1').trigger('click');
    });

    function ChoiceFile() {
        var file = $('#File1').get(0);
        var alo = file.files;
        var form = new FormData();
        form.append(alo[0].name, alo[0]);
        $.ajax({
            url: '@Url.Action("ImportStaffShift", "AllDept")',
            type: "POST",
            contentType: false,
            processData: false,
            data: form,
            Success: function (data) {
                if (data.Status != "OK") {
                    alert(data.Value);
                    return;
                }

                if (data.Errors.length > 0) {
                    DisplayImportError(data.Errors);
                }

                alert(data.Status);
                $('#File1').val('');
            },
        });
    }
</script>