
@(Html.DevExtreme().PieChart()
        .ID("pie")
        .Size(s => s.Width(500))
        .Palette(VizPalette.Bright)
        .Series(s => s
            .Add()
            .ArgumentField("MachineID")
            .ValueField("PLJ1Time")
            .Label(l => l
                .Visible(false)
                .Connector(c => c
                    .Visible(true)
                    .Width(1)
                )
            .Position(PieChartLabelPosition.Columns)
            )
        )
        .Legend(l => l
            .Orientation(Orientation.Horizontal)
            .ItemTextPosition(Position.Right)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .VerticalAlignment(VerticalEdge.Bottom)
            .ColumnCount(4)
            .CustomizeText(@<text>
                function (e) {
                var name = this.pointName,text;
                var pieChart = $("#pie").dxPieChart('instance'),percentValue = (pieChart.getAllSeries()[0].getAllPoints()[this.pointIndex].percent * 100).toFixed(2);
                return this.pointName + " - " + percentValue + "%";
                }
            </text>)

        )
        .Title("Thống kê tỉ lệ gia công hàng loạt")
        .OnExporting("onExportingDatagridToExcel").Export(e => e.Enabled(true))
        //.OnPointClick("includePie2")
        //.OnLegendClick("includePie2")
        //from = from.AddDays(-from.Day + 1).AddMonths(-1).Date;
        //to = to.AddDays(-to.Day).Date;
        .DataSource(Url.Action("sp_242_GetWorkingTimePLJ1Total", "Index", new { fromDate = DateTime.Now.AddDays(-DateTime.Now.Day + 1).AddMonths(-1).Date, toDate = DateTime.Now.AddDays(-DateTime.Now.Day).Date }))

)

<script>
                function toggleVisibility(item) {
                    alert(item.data.Country);
                    if(item.isVisible()) {
                        item.hide();
                    } else {
                        item.show();
                    }
                }
</script>
<div class="box-footer clearfix no-border">
    <a href="@Url.Action("WTSPLJ1Chart", new {Controller= "Index" })">Xem chi tiết</a>
</div>

<script>
    function includePie2(e) {
        var datasource = new Array();
        $.ajax({
            url: '@Url.Action("GetWorkingTimeTotal", "Index")',
            dataType: 'JSON',
            traditional: true,
            data:{'fromDate': '@DateTime.Now','toDate':'@DateTime.Now'},
            type: 'GET',
            cache: false,
            success: function (data) {
                if (data == 'NG') {
                    return;
                }

                $("#pie2").dxPieChart({
                    size: {
                        width: 500
                    },
                    palette: "bright",
                    dataSource: data,
                    series: [
                        {
                            argumentField: "MachineID",
                            valueField: "WorkIDTime",
                            label: {
                                visible: true,
                                connector: {
                                    visible: true,
                                    width: 1
                                }
                            }
                        }
                    ],
                    title: "Area of Countries",
                    "export": {
                        enabled: true
                    },
                    onPointClick: function (e) {
                        var point = e.target;

                        toggleVisibility(point);
                    },
                    onLegendClick: function (e) {
                        var arg = e.target;

                        toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
                    }
                });
            }
        });

        //var arg = e.target;
        //var b = arg.data.Country;
        //alert(b);

        function toggleVisibility(item) {
            if (item.isVisible()) {
                item.hide();
            } else {
                item.show();
            }
        }
    }

    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
</script>