@{
    var data = (List<NNworking.Models.View_222_StokerMenu>)ViewBag.Menu;
    var lastID = 0;
    var id = 1;
}
    <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="@Html.IsSelected(controller: " Dashboard")">
                <a href="@Url.Action("Index","Stocker")">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ kho</span>
                </a>
            </li>
        </ul>

        @foreach (NNworking.Models.View_222_StokerMenu item in data)
        {
            if (lastID == item.ParentID)
            {
                continue;
            }

            lastID = item.ParentID;
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>@item.MainCat</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    @{
                        var subList = data.Where(x => x.ParentID == lastID).ToList();
                        if (subList.Count == 0)
                        {
                            continue;
                        }

                        <ul class="treeview-menu">
                            @foreach (var item1 in subList)
                            {
                                <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StockerItem","Stocker",new {catergory = item1.SubAlias })"><i class="fa fa-circle-o"></i> @item1.SubCat </a></li>
                            }
                        </ul>
                    }
                </li>
            </ul>
        }

        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Nhập xuất DL</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StokerInput","Stocker")"><i class="fa fa-circle-o"></i> Nhập kho</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StokerOutput","Stocker")"><i class="fa fa-circle-o"></i> Xuất kho</a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("PartnerTypeList","Alldept")" class=""><i class="fa fa-cart-plus"></i>Kiểu đối tác</a></li>
                    <li><a href="@Url.Action("PartnerList","Alldept")" class=""><i class="fa fa-cart-plus"></i>Danh sách đối tác</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StockerItemType","Stocker")"><i class="fa fa-circle-o"></i> Kiểu sản phẩm</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StokerCatergoryType","Stocker")"><i class="fa fa-circle-o"></i> Loại danh mục</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StokerCatergory","Stocker")"><i class="fa fa-circle-o"></i> Danh mục</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("CatergoryConfiguration","Stocker")"><i class="fa fa-circle-o"></i> Cấu hình danh mục</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("StokerUnit","Stocker")"><i class="fa fa-circle-o"></i> Đơt vị tính</a></li>
                </ul>
            </li>
        </ul>
        @*<ul class="sidebar-menu" data-widget="tree">
            <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Đặt hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("Index","WTS")"><i class="fa fa-circle-o"></i> Tạo đơn đặt hàng</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("WTSGT","WTS")"><i class="fa fa-circle-o"></i> Đơn hàng chưa trả lời</a></li>
                    <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("CheckWTS","WTS")"><i class="fa fa-circle-o"></i> Đơn hàng chưa mua</a></li>
                </ul>
            </li>
        </ul>*@
    </section>
    <!-- /.sidebar -->
</aside>
