<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">

    <div class="wrapper">

        @Html.Partial(@"~/Views/Shared/Dashboardv_Layout/_Header.cshtml")

        @{
            string CurrentName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
            switch (CurrentName)
            {
                case "Stocker":
                    @Html.Partial("~/Views/Shared/Dashboardv_Layout/_DynamicLeftMenu.cshtml")
                    break;
                case "EmailConfiguration":
                    @Html.Partial("~/Views/Shared/Dashboardv_Layout/ConfiguratuonNotification.cshtml")
                    break;
                case "Payroll":
                    @Html.Partial("~/Views/Shared/Dashboardv_Layout/_PayrollMenu.cshtml")
                    break;
                default:
                    @Html.Partial("~/Views/Shared/Dashboardv_Layout/_Sidebar.cshtml")
                    break;
            }
        }

        <iframe src="http://localhost:55753/Trang-chu/Index.html" width="100%" height="100%" title="Quản lý giao việc"></iframe>

        @Html.Partial("~/Views/Shared/Dashboardv_Layout/_Footer.cshtml")
        @Html.Partial("~/Views/Shared/Dashboardv_Layout/_Aside.cshtml")
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>

