@{

}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        @*<ul class="sidebar-menu">
                <li class="@Html.IsSelected(controller: " Dashboard")">
                    <a href="@Url.Action("Index","EmailConfiguration")">
                        <i class="fa fa-dashboard"></i> <span>Trang chủ cấu hình</span>
                    </a>
                </li>
            </ul>*@

        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("ShiftRegister","Payroll")"><i class="fa fa-circle-o"></i> Đăng kí ca làm việc</a></li>
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("TimeCard","Payroll")"><i class="fa fa-circle-o"></i> TimeCard</a></li>
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("WorkingDay","Payroll")"><i class="fa fa-circle-o"></i> Lịch làm việc</a></li>
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("AbsentRegister","Payroll")"><i class="fa fa-circle-o"></i> Đăng kí nghỉ</a></li>
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("EmployeePlan","Payroll")"><i class="fa fa-circle-o"></i> Kế hoạch làm việc</a></li>
            <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("MealStatics","Payroll")"><i class="fa fa-circle-o"></i> Thống kê cơm</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

