

<div class="row">
    <section class="col-lg-2 connectedSortable" style="width:20%;float:left;">
        <div class="box-header">
            <h3 class="box-title" id="NgayHop">Ngày họp</h3>
        </div>
    </section>
    <section class="col-lg-8 connectedSortable" style="width:60%;float:left;">
        <div class="box-header">
            <h1 id="TieuDe" style="text-align:center">Tiêu đề cuộc họp</h1>
        </div>
    </section>
    <section class="col-lg-2 connectedSortable" style="width:20%;float:left;">
        <div class="box-header">
            <h3 class="box-title" id="ThoiHan">Thời hạn</h3>
        </div>
    </section>
</div>

<div class="row">
    <section class="connectedSortable" style="width:75%;float:left;">
        <div class="box-body" id="NoiDung">
            Nội dung cuộc họp
        </div>
        <section class="col-lg-12 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <h2>Báo cáo, chỉ thị sau cuộc họp</h2>
                </div>
                <div id="Comment">
                    <div class="box-header">
                        <h3 class="box-title">{Người gửi} gửi {người nhận} - {ngày giờ}</h3>
                        <ul class="todo-list">
                            Nội dung yêu cầu
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-12 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <h2>Gửi thêm yêu cầu - bình luận</h2>
                </div>
                <div>
                    <div class="box-header">
                        <table class="table table-advance">
                            <tr>
                                <td>Gửi cho:</td>
                                <td>
                                    @(Html.DevExtreme().DropDownBox()
                                        .ValueExpr("StaffID")
                                        .DisplayExpr("StaffID")
                                        .DropDownOptions(o => o.Height(350))
                                        .DataSource(d => d.WebApi()
                                            .RouteName("C222_MeetingContentApi")
                                            .LoadAction("GetStaffMetting").LoadParams(new { mettingID = ViewBag.ID })
                                            .Key("StaffID")
                                        )
                                        .ID("staffList")
                                        .Placeholder("Select a value...")
                                        .ShowClearButton(true)
                                        .OnValueChanged("gridBox_valueChanged")
                                        .ContentTemplate(new TemplateName("EmbeddedDataGridMultiple"))
                                    )

                                    @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultiple"))
                                    {
                                        @(Html.DevExtreme().DataGrid()
                                                    .ID("embedded-datagrid")
                                                    .DataSource(new JS(@"component.getDataSource()"))
                                                    .Columns(columns =>
                                                    {
                                                        columns.Add().DataField("StaffID");
                                                        columns.Add().DataField("StaffName");
                                                    })
                                                    .HoverStateEnabled(true)
                                                    .Paging(p => p.PageSize(10))
                                                    .FilterRow(f => f.Visible(true))
                                                    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                                    .Height(345)
                                                    .Selection(s => s.Mode(SelectionMode.Multiple))
                                                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                                                    .OnSelectionChanged(@<text>
                                                        function(selectedItems) {
                                                        var keys = selectedItems.selectedRowKeys;
                                                        component.option("value", keys);
                                                        }
                                                    </text>)
                                        )
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Nội dung:</td>
                                <td>
                                    @Html.Partial("~/Views/Index/SubItem/_CkEditor.cshtml")
                                </td>
                            </tr>
                            <tr>
                                <td>Tài liệu:</td>
                                <td>
                                    <input id="File2" type="file" name="file" class="" multiple onchange="" />
                                </td>
                            </tr>
                        </table>
                        <input class="btn VP" style="margin-top: 10px;" type="Button" tabindex="" id="InputMeetingComment" name="" value="Nhập" onclick="InputMeetingComment()">
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="connectedSortable" style="width:25%;float:left;">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Người liên quan</h3>
            </div>
            <div class="box-body">
                <ul class="todo-list" id="NguoiLienQuan">
                    <li>Code - Tên</li>
                    <li>Code - Tên</li>
                    <li>Code - Tên</li>
                </ul>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Đánh giá</h3>
            </div>
            <div class="box-body" id="DanhGia">
                Nội dung đánh giá
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Chỉ thị</h3>
            </div>
            <div class="box-body" id="ChiThi">
                Nội dung chỉ thị
            </div>
        </div>
    </section>
</div>

<script>
    GetDetailMeeting();

    function gridBox_valueChanged(e) {
        var $dataGrid = $("#embedded-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    function InputMeetingComment() {
        var content = CKEDITOR.instances.editor.getData();
        var staff = $("#staffList").dxDropDownBox("instance").option("value");

        var file = $('#File2').get(0);
        var alo = file.files;
        var form = new FormData();
        for (var i = 0; i < alo.length; i++) {
            form.append(alo[i].name, alo[i]);
        }

        form.append('content', content);
        form.append('staff', staff);
        form.append('meetingID', @ViewBag.ID);

        $.ajax({
            url: '@Url.Action("InputMeetingComment", "AllDept")',
            type: "POST", //JSON
            dataType: "json",
            contentType: false,
            processData: false,
            data: form,
            success: function (data) {
                if (data.Status != "OK") {
                    alert(data.Values);
                    return;
                }

                CKEDITOR.instances.editor.setData('');
                GetDetailMeeting();
            }
        });
    }

    function GetDetailMeeting() {
        var id = '@ViewBag.ID';
        $.ajax({
            url: '@Url.Action("GetDetailMeeting", "AllDept")',
            type: "GET",
            data: { 'id': id },
            success: function (data) {
                if (data.Status != "OK") {
                    alert(data.Values);
                    return;
                }

                if (data.MeetingContent.length > 0) {
                    var NgayHop = '<span>Ngày họp: ' + data.MeetingContent[0].Date1 + '</span>';
                    var TieuDe = '<span>' + data.MeetingContent[0].Subject + '</span>';
                    var ThoiHan = '<span>Thời hạn: ' + data.MeetingContent[0].Deadline1 + '</span>';
                    var NoiDung = '<span><h2>Nội dung</h2><br/>' + data.MeetingContent[0].Solution + '</span>';
                    var DanhGia = '<span>' + data.MeetingContent[0].Evaluate + '</span>';
                    var ChiThi = '<span>' + data.MeetingContent[0].Command + '</span>';
                    $("#NgayHop").html(NgayHop);
                    $("#TieuDe").html(TieuDe);
                    $("#ThoiHan").html(ThoiHan);
                    $("#NoiDung").html(NoiDung);
                    $("#DanhGia").html(DanhGia);
                    $("#ChiThi").html(ChiThi);
                }

                var html = '';
                html += '<span> </span>';

                if (data.StaffList.length > 0) {
                    for (var i = 0; i < data.StaffList.length; i++) {
                        html += '<li>' + data.StaffList[i] + '</li>';
                    }

                }

                $("#NguoiLienQuan").html(html);
                html = '<span> </span>';
                var toStaffColor = 'transparent';
                var fromStaffColor = 'transparent';
                if (data.MeetingComment.length > 0) {
                    for (var i = 0; i < data.MeetingComment.length; i++) {
                        if(data.MeetingComment[i].StaffID == '@Session["StaffID"].ToString()'){
                            fromStaffColor = "yellow";
                        }

                        if(data.MeetingComment[i].ToStaff.indexOf('@Session["StaffID"].ToString()') != -1){
                            toStaffColor = "#030303";
                        }

                        html += '<div class="box box-primary">                                           ';
                        html += '<div class="box-header">                                                ';
                        html += '    <h3 class="box-title"><span Style="background-color:' + fromStaffColor + '">' + data.MeetingComment[i].StaffID + ' </span> gửi <span Style="color:#000;background-color:' + toStaffColor + '">' + data.MeetingComment[i].ToStaff + ' </span> - ' + data.MeetingComment[i].Date1 + '</h3>';
                        html += '    <ul class="todo-list">                                              ';
                        html += data.MeetingComment[i].Comment;
                        html += '    </ul>                                                               ';
                        html += '</div>                                                                  ';
                        html += '<div>                                                                   ';
                        html += '<h4>Tài liệu đính kèm<h4>                                               ';
                        html += '    <ul class="todo-list">                                              ';
                        if (data.MeetingComment[i].FilesUploaded.length > 0) {
                            for (var j = 0; j < data.MeetingComment[i].FilesUploaded.length; j++) {
                                html += '    <li><a href="' + window.location.origin + '/' + data.MeetingComment[i].FilesUploaded[j].FilePath + '"> ' + data.MeetingComment[i].FilesUploaded[j].FileName + '</a></li>                                                           ';
                            }
                        }
                        html += '    </ul>                                                               ';
                        html += '</div>                                                                  ';
                        html += '</div>                                                                  ';
                    }
                }
                $("#Comment").html(html);
            },
        });
    }
</script>